{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% block stats %}
{% endblock %}
{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('bug.issue_update', { id: entity.id }),
            'entity_label': 'oro.bug.issue.entity_label'|trans
        }) }}
    {% endif %}

    {% if entity.type.id == 'story' %}
        {{ UI.addButton({
            'path': path('bug.issue_children_create',{id :entity.id}),
            'entity_label': 'oro.bug.issue.children_issue_label'|trans
        }) }}
    {% endif %}

    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('bug_api_delete_issue', {'id': entity.id}),
            'dataRedirect': path('bug.issue_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-vehicle',
            'dataId': entity.id,
            'entity_label': 'oro.bug.issue.entity_label'|trans,
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity':      entity,
    'indexPath':   path('bug.issue_index'),
    'indexLabel': 'oro.bug.issues.label'|trans,
    'entityTitle': entity.summary
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set data %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {% if  entity.type.id == 'subtask' %}
                        <h4>{{ 'oro.bug.issue.parent.label'|trans }}:
                            <a href="{{ path('bug.issue_view',{'id' : entity.parentIssue.id}) }}">{{ entity.parentIssue }}
                            </a>
                        </h4>
                    {% endif %}
                    {{ UI.renderProperty('Code'|trans, entity.code) }}
                    {{ UI.renderProperty('oro.bug.issue.summary.label'|trans, entity.summary) }}
                    {{ UI.renderProperty('oro.bug.issue.priority.label'|trans, entity.priority) }}
                    {{ UI.renderProperty('oro.bug.issue.type.label'|trans, entity.type|trans) }}
                    {{ UI.renderProperty('oro.bug.issue.resolution.label'|trans, entity.resolution) }}
                    {{ UI.renderProperty('oro.bug.issue.status.label'|trans, entity.status) }}
                    {{ UI.renderProperty('oro.bug.issue.assignee.label'|trans, entity.assignee) }}
                    {{ UI.renderProperty('oro.bug.issue.reporter.label'|trans, entity.owner) }}
                    {{ UI.renderProperty('oro.bug.issue.created.label'|trans, entity.created|oro_format_datetime) }}
                    {{ UI.renderProperty('oro.bug.issue.updated.label'|trans, entity.updated|oro_format_datetime) }}
                </div>
                {% if  entity.type.id == 'story' %}
                    <div class="responsive-block">
                        <h4>{{ 'oro.bug.issue.subtasks'|trans }}</h4>
                        {{ dataGrid.renderGrid('issue_subtask_grid', {'id': entity.id}) }}

                    </div>
                {% endif %}
            </div>
        </div>
    {% endset %}
    {% set collaborators %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                {{ dataGrid.renderGrid('collaborators-grid', {'issue_id': entity.id}) }}
            </div>
        </div>
    {% endset %}


    {% set dataBlocks =
    [
    {
    'title': 'oro.bug.issue.label'|trans,
    'class': 'active',
    'subblocks': [{'data':[data]}]
    }
    ,
    {
    'title': 'oro.bug.issue.collaborators.label'|trans,
    'class': 'active',
    'subblocks': [{'data':[collaborators]}]
    }
    ] %}

    {% set id = 'issueView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}